

/* MY CODE */ 

/* BASE STYLES */



html{
  font-size:125%;
}

*{
  --green:#0cc46a;
  --dark-bg:rgb(34, 34, 34);
  --delete:#F38375;
  --delete-hover:#EF6351;
  --input-bg:#dbdbdb;
  font-family:'Poppins',sans-serif;
}

.wrapper{
  width:90%;
  max-width:1440px;
  margin:0 auto;
  position: relative;
}


/* CSS HERE */

/* HEADER */

header{
  display:flex;
  position: relative;
  text-align: center;
  height:5vh;
  z-index:10;
  width:100%;
  justify-content: center;
  align-items: center;
}

h1{
  font-size:clamp(1.4rem, 5vw, 2.5rem);
  margin:10px;
  font-family:'Poppins',sans-serif;
  font-weight:normal;
}

h2{
  font-size:clamp(1rem, 5vw, 1.5rem);

  margin:10px;
}

.strongFont{
  font-weight:bold;
  color:var(--green);
}

input, select{
  padding:2px 6px;
  font-family:'Poppins',sans-serif;

}
input::placeholder{
  font-family:'Poppins',sans-serif;
}
.inputField{
  display:flex;
  align-items: center;
  background-color:var(--input-bg);
  border-radius:10px;
}
.inputField input{
  outline:none;
  border:none;
  border-radius:10px;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputField span{
  padding:0 10px;
  color:rgba(0,0,0,0.5);
}

/* DARK / LIGHT */

/* TOGGLE FOR DARK/LGIHT MODE */
.toggleThemeButton{
  position: relative;
  align-self: center;
  border:none;
  width:40px;
  height:40px;
  border-radius:50%;
  transition:background-color 0.3s;
}

.toggleThemeButton:hover, .toggleThemeButton:focus{
  background-color:var(--green);
}

.toggleThemeButton:hover .toolTipText, .toggleThemeButton:focus .toolTipText{
  visibility:visible;
  opacity:1;
}

.toolTipText{
  opacity:0;
  transition: opacity 0.3s;
  visibility:hidden;
  width:max-content;
  font-size:0.8rem;
  background-color:white;
  position: absolute;
  border-radius:20px;
  right:50px;
  padding:2px 5px;
}

.darkDisplay{
  background-color:var(--dark-bg);
  color:white;
}

.introSection .darkDisplay{
  background-color:rgb(78, 78, 78);
}

/* INTRO SECTION */

.introSection{
  padding:10px;
  height:92vh;
}

.introSection h2 {
  text-align: center;
}
.introSection .wrapper{
  border-radius:20px;
  padding:20px 40px 40px;
  margin-top:50px;
}

.callToAction{
  text-align: center;
}
.navigateButton{
  width:200px;
  margin: 0 auto;
  background-color:#0cc46a;
  color:white;
  text-decoration:none;
  padding:5px 10px;
  border:2px var(--green) solid;
  transition: 0.3s all;
}

.navigateButton:hover, .navigateButton:focus{
  background-color:white;
  color:black;
}

/* MAIN */




/* POPUP BOXES */

.popup{
  position: absolute;
  background-color:rgba(0,0,0,0.5);
  color:white;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  display:none;
  z-index:10;
}

.popup.active{
  display:flex;
  margin:0 auto;
}

.popup form{
  background-color:rgba(100,100,120);
  border-radius:10px;
  padding:20px 40px;
  height:max-content;
  margin: auto;
  text-align: center;
  display:flex;
  flex-direction:column;
}
.addPayeePopup label{
  padding-bottom:10px;
}


.actionButton{
  display:flex;
  justify-content:space-evenly;
  padding-top:10px;
}

.actionButton button{
  font-family:'Poppins',sans-serif;
  border:none;
  border-radius:4px;
  padding:4px 8px;
}

fieldset{
  border:none;
}

.addItemPopup label{
  padding:10px;
}



/* ADD ITEM POP UP */
.addItemPopup fieldset{
  display:flex;
  flex-direction:column;
}

.addItemPopup label{
  text-align-last: left;
}

.addItem form{
  padding: 10px;
}


/* ADD BUTTONS */

.addButton{
  width:100px;
  height:100px;
  border:none;
  border-radius:10px;
}

.addIcon{
  font-size:60px;
  color:grey;
}

/* ADD PAYEE SECTION */

.payeeBox{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  max-width:max-content;
  min-width:100px;
  height:100px;
  border-radius:10px;
  background-color:lightblue;
  /* text-align: center; */
  position: relative;
  word-wrap:break-word;  
}
.payeeBox p {
  margin:0;
}

/* DELETE ICON */
.payeeBox button{
  position: absolute;
  top:-5px;
  right:-5px;
  background-color:var(--delete);
  border:none;
  border-radius:50%;
  width:25px;
  height:25px;
  cursor:pointer;
  transition:0.3s;
}

.payeeBox button:hover, .payeeBox button:focus{
  background-color:crimson;
}

/* render list */
.payeeList, .orderList, .renderPayees{
  list-style:none;
  padding:0;
  display:flex;
  flex-wrap:wrap;
  text-align: center;
  margin:10px 0;
  /* justify-content:space-evenly; */
}

.payeeList li, .orderList li, .renderPayees li {
  margin:0 10px 10px 0;
}


/* EXTRA FEES */

.extraFees{
  margin-bottom:20px;
}

.extraFees h2{
  margin:0;
}

.extraFees .wrapper{
  position: relative;
  padding:10px;
  border-radius:10px;
}

.extraFees form{
  display:flex;
  flex-direction:column;
}

.subtotalDiv, .serviceFeeDiv, .deliveryFeeDiv, .taxDiv, .tipDiv, .grandTotalDiv{
  display:flex;
  align-items:center;
  margin-bottom:20px;
}

.serviceFeeDiv label, .deliveryFeeDiv label , .taxDiv label, .tipDiv label, .grandTotalDiv label{
  width:150px;
  text-align-last: left;
}

.serviceFeeDiv input, .deliveryFeeDiv input , .taxDiv input, .tipDiv input, .grandTotalDiv input{
  width:200px;
  background-color:var(--input-bg);
}

.calculateButton{
  background-color:var(--green);
  border:none;
  padding:5px 10px;
  border-radius:3px;
  font-family:'Poppins',sans-serif;
  color:white;
  transition:0.3s background-color;
}

.calculateButton:hover, .calculateButton:focus{
  background-color:forestgreen;
}

/* footer */

footer{
  justify-content: center;
  align-items: center;
  position: absolute;
  display:flex;
  width:100%;
  padding:10px;
  bottom:0;
  color:black;
  border-top:var(--dark-bg) 1.5px solid;
  height:5vh;
  text-align: center;
}

footer.darkDisplay{
  border-top:white 1.5px solid;
  background-color:var(--dark-bg);
  color:white;
}

