.errorPage {
  height: 80vh;
}

.errorPage .wrapper {
  text-align: center;
}

.errorPage .returnToButton {
  text-align: center;
  margin: 0 auto;
}

.errorPage .returnToButton p {
  font-size: clamp(1rem, 4vw, 1.2rem);
}
